In [1]:
import pandas as pd

In [2]:
log_df = pd.read_csv('./log_template.csv')

In [3]:
log_df.head()

,sn,time,msg,server_model,msg_lower,msg_id,template_id,template
0,SERVER_12,2020-06-11 10:23:43,Add-in Card #0x1b | Device Present,SM3,add-in card #0x1b | device present,8,1,add-in card #<:HEX:> | device present
1,SERVER_481,2020-08-18 11:02:55,Add-in Card #0x1b | Device Present | Asserted,SM4,add-in card #0x1b | device present | asserted,29,2,add-in card #<:HEX:> | device present | asserted
2,SERVER_25703,2020-10-20 11:10:01,Add-in Card #0x1b | Device Present | Asserted,SM4,add-in card #0x1b | device present | asserted,29,2,add-in card #<:HEX:> | device present | asserted
3,SERVER_35,2020-08-20 08:32:13,Add-in Card #0x1b | Device Present | Asserted,SM4,add-in card #0x1b | device present | asserted,29,2,add-in card #<:HEX:> | device present | asserted
4,SERVER_25708,2020-07-25 12:43:19,Add-in Card #0x1b | Device Present | Asserted,SM4,add-in card #0x1b | device present | asserted,29,2,add-in card #<:HEX:> | device present | asserted

In [4]:
log_df['msg_id'].unique().shape

(1121,)

In [5]:
log_df['template_id'].unique().shape

(187,)

In [7]:
cate_list = log_df['msg_lower'].apply(lambda x: x.split()[0]).unique()
cate_map = {}
for i in range(len(cate_list)):
    cate_map[cate_list[i]] = i

In [8]:
cate_map

{'system': 0,
 'memory': 1,
 'power': 2,
 'unknown': 3,
 'os': 4,
 'processor': 5,
 'drive': 6,
 'oem': 7,
 'management': 8,
 'microcontroller': 9,
 'event': 10,
 'microcontroller/coprocessor': 11,
 'critical': 12,
 'button': 13,
 'slot': 14,
 'version': 15,
 'temperature': 16,
 'slot/connector': 17,
 'watchdog2': 18,
 'device': 19,
 'lan': 20,
 'hex': 21,
 'add-in': 22,
 'watchdog': 23,
 'reserved': 24,
 'session': 25,
 'physical': 26,
 'fan': 27,
 'cable/interconnect': 28,
 'terminator': 29,
 'request': 30,
 'chassis': 31,
 'battery': 32,
 'cable': 33,
 'boot': 34,
 'chip': 35}

In [9]:
log_df[log_df['sn'] == 'SERVER_25698']

,sn,time,msg,server_model,msg_lower,msg_id
298267,SERVER_25698,2020-10-08 23:38:12,System Boot Initiated BIOS_Boot_Up | State As...,SM0,system boot initiated bios_boot_up | state ass...,0
298268,SERVER_25698,2020-10-08 23:41:33,System Boot Initiated BIOS_Boot_Up | State As...,SM0,system boot initiated bios_boot_up | state ass...,0
298269,SERVER_25698,2020-10-08 23:44:47,System Boot Initiated BIOS_Boot_Up | State As...,SM0,system boot initiated bios_boot_up | state ass...,0
298270,SERVER_25698,2020-10-08 23:48:01,System Boot Initiated BIOS_Boot_Up | State As...,SM0,system boot initiated bios_boot_up | state ass...,0
298271,SERVER_25698,2020-10-08 23:51:15,System Boot Initiated BIOS_Boot_Up | State As...,SM0,system boot initiated bios_boot_up | state ass...,0
...,...,...,...,...,...,...
298522,SERVER_25698,2020-10-09 13:28:41,System Boot Initiated BIOS_Boot_Up | State As...,SM0,system boot initiated bios_boot_up | state ass...,0
298523,SERVER_25698,2020-10-09 13:31:58,System Boot Initiated BIOS_Boot_Up | State As...,SM0,system boot initiated bios_boot_up | state ass...,0
298524,SERVER_25698,2020-10-09 13:35:14,System Boot Initiated BIOS_Boot_Up | State As...,SM0,system boot initiated bios_boot_up | state ass...,0
298525,SERVER_25698,2020-10-09 13:38:37,System Boot Initiated BIOS_Boot_Up | State As...,SM0,system boot initiated bios_boot_up | state ass...,0
298526,SERVER_25698,2020-10-09 13:41:50,System Boot Initiated BIOS_Boot_Up | State As...,SM0,system boot initiated bios_boot_up | state ass...,0

In [2]:
df = pd.read_csv('train1.csv')

In [5]:
df[['sn', 'last_category']]

                 sn  last_category
0      SERVER_25698              0
1      SERVER_25699              1
2      SERVER_25712              6
3      SERVER_25708              6
4      SERVER_25711              1
...             ...            ...
16599  SERVER_24971              6
16600  SERVER_24971              6
16601  SERVER_24962              6
16602  SERVER_24971              6
16603  SERVER_24971              6

[16604 rows x 2 columns]